openapi: 3.0.1
info:
  title: Crônicas API
  description: API para gerenciar crônicas, comentários, curtidas e compartilhamentos.
  version: 1.0.0
servers:
  - url: https://cronicasmz.choreoapps.dev/api
    description: Servidor de produção
  - url: http://localhost:8000/api
    description: Servidor local
paths:
  /chronicles/:
    get:
      summary: Listar todas as crônicas
      tags:
        - Crônicas
      responses:
        '200':
          description: Lista de crônicas recuperada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Chronicle'
    post:
      summary: Criar uma nova crônica
      tags:
        - Crônicas
      security:
        - bearerAuth: []
      requestBody:
        description: Dados para criar uma nova crônica.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChronicle'
      responses:
        '201':
          description: Crônica criada com sucesso.
        '401':
          description: Não autorizado.
  /chronicles/{id}/:
    get:
      summary: Recuperar detalhes de uma crônica específica
      tags:
        - Crônicas
      parameters:
        - name: id
          in: path
          required: true
          description: ID da crônica.
          schema:
            type: integer
      responses:
        '200':
          description: Detalhes da crônica recuperados com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chronicle'
        '404':
          description: Crônica não encontrada.
    delete:
      summary: Excluir uma crônica
      tags:
        - Crônicas
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: ID da crônica.
          schema:
            type: integer
      responses:
        '204':
          description: Crônica excluída com sucesso.
        '401':
          description: Não autorizado.
  /comments/:
    get:
      summary: Listar comentários
      tags:
        - Comentários
      responses:
        '200':
          description: Lista de comentários recuperada com sucesso.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Comment'
    post:
      summary: Criar um novo comentário
      tags:
        - Comentários
      security:
        - bearerAuth: []
      requestBody:
        description: Dados para criar um comentário.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateComment'
      responses:
        '201':
          description: Comentário criado com sucesso.
        '401':
          description: Não autorizado.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Chronicle:
      type: object
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          example: "Minha primeira crônica"
        content:
          type: string
          example: "Era uma vez..."
        date:
          type: string
          format: date
          example: "2025-01-21"
        author_name:
          type: string
          example: "João Silva"
    CreateChronicle:
      type: object
      required:
        - title
        - content
        - date
      properties:
        title:
          type: string
          example: "Minha nova crônica"
        content:
          type: string
          example: "Conteúdo da crônica."
        date:
          type: string
          format: date
          example: "2025-01-21"
    Comment:
      type: object
      properties:
        id:
          type: integer
          example: 1
        content:
          type: string
          example: "Gostei muito dessa crônica!"
        author_name:
          type: string
          example: "Maria Oliveira"
        created_at:
          type: string
          format: date-time
          example: "2025-01-21T14:00:00Z"
    CreateComment:
      type: object
      required:
        - content
        - chronicle
      properties:
        content:
          type: string
          example: "Comentário interessante."
        chronicle:
          type: integer
          example: 1
security:
  - bearerAuth: []
